<footer style="background-color: rgb(123, 167, 209); size: 10%;">

    <div class="container">
        <div class="footer-logo">
            <a href="#">
                <img src="/assets/cfs5.png" alt="logo" width="40" height="40">
            </a>
        </div>

        <div class="d-flex flex-row justify-content-between">

            <!-- <nav class="footer-nav d-flex flex-row justify-content-between"> -->
                <div class="footer-col">
                    <h4 class="title">ConnectForSolutions</h4>
                </div>
                
    
                <div class="footer-col">
                    <h4 class="title">Company</h4>
                    <ul class="footer-list">
                        <li><a href="">Career</a> </li>
                        <li><a href="">Privacy Policy</a> </li>
                        <li><a href="">Term of Services</a> </li>
                        <li><a href="">About</a> </li>
    
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4 class="title">Stack</h4>
                    <ul class="footer-list">
                        <li><a href="">Technology</a> </li>
                        <li><a href="">Professional</a> </li>
                        <li><a href="">Science</a> </li>
                    </ul>
                </div>
    
            <!-- </nav> -->
            <div class="footer-col">
            <div class="footer-copyright">
                <h4 class="title">Contact us</h4>
                <ul class="footer-list">
                    <li class="me-2"><a href=""> Facebook</a></li>
                    <li class="me-2"><a href="">Twitter</a> </li>
                    <li class="me-2"><a href="">LinkedIn</a> </li>
                    <li class="me-2"><a href="">Instagram</a> </li>
                </ul>
            </div>
            </div>
        </div>

    </div>
</footer>
