<div class="container-fluid">
    <div class="row">
      <div class="col-4"></div>
        <div clas="col-md-5 logimg" >
            <div class="text-center">
              <br>
                <h1>Change Password</h1>
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <br>
                <div class="formGroup" style="margin-left: 100px;margin-right: 30px;">
                    <label class="form-label">oldpassword</label>
                    <input formControlName="oldPassword" [ngClass]="{'is-invalid':submitted && changePasswordForm.get('oldPassword')?.errors}"  type="text" class="form-control" id="exampleInputName1" required>
                    <!-- <div *ngIf="submitted && singupForm.get('name')?.errors" class = "text-danger"> -->
                  <div *ngIf="submitted && changePasswordForm.get('oldPassword')?.errors" class = "text-danger">
                    <div *ngIf="submitted && changePasswordForm.get('oldPassword')?.errors?.['required'] ">
                    password is required

                    </div>

                  </div>  </div>
                  <div class="formGroup" style="margin-left: 100px;margin-right: 30px;">
                    <label class="form-label">Enter new password</label>
                    <input formControlName="enterNewPassword" [ngClass]="{'is-invalid':submitted && changePasswordForm.get('enterNewPassword')?.errors}"  type="text" class="form-control" id="exampleInputName1" required>
                    <!-- <div *ngIf="submitted && singupForm.get('name')?.errors" class = "text-danger"> -->
                  <div *ngIf="submitted && changePasswordForm.get('enterNewPassword')?.errors" class = "text-danger">
                    <div *ngIf="submitted && changePasswordForm.get('enterNewPassword')?.errors?.['required'] ">
                    password is required

                
                  </div>
                  </div>

                  </div>
                  <div class="formGroup" style="margin-left: 100px;margin-right: 30px;">
                    <label class="form-label">Re Enter new password</label>
                    <input formControlName="reEnterNewPassword" [ngClass]="{'is-invalid':submitted && changePasswordForm.get('reEnterNewPassword')?.errors}"  type="text" class="form-control" id="exampleInputName1" required>
                    <!-- <div *ngIf="submitted && singupForm.get('name')?.errors" class = "text-danger"> -->
                  <div *ngIf="submitted && changePasswordForm.get('reEnterNewPassword')?.errors" class = "text-danger">
                    <div *ngIf="submitted && changePasswordForm.get('reEnterNewPassword')?.errors?.['required'] ">
                    password is required

                   </div>
                </div>
            </div>
                  <button type="submit" class="btn btn-primary" >UpdatePassword</button>
            </form>
            <br>
        </div>
    </div>
</div>
